output/
__pycache__/
.env/
.venv/
*.pyc
**/*.jsonl
**/*.json
**/*.log
.aider*
.aider*/*
proxies*
# Ignore all .txt files globally
**/*.txt
!requirements.txt
# Ignore all .pdf files globally
**/*.pdf
*.pdf
*.jsonl
*.json
*.idx
*.log